.header-fixed {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
  position: fixed;
	top: 0;
  width: 100%;
	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: right;
	margin: 0 auto;
}

.header-fixed-placeholder{
	height: 100px;
	display: none;
}

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 30px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #5383d3;
}

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter em {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	body.fixed .header-fixed {
		display: none;
	}

}
